{% extends 'template.html' %}
{% block content %}
	<h2>Welcome! You are in the admin area.</h2>
	<br />
	<br />
	<a href="/logout">Logout</a>
	<br />
	<br />
	<form method="POST" action="/admin">
		<div class="col-md-6">
			<span>Type question</span><p><input class="form-control" type="text" name="question" required/></p>
			<span>Option 1</span><p><input class="form-control" type="text" name="option_1" required/></p>
			<span>Option 2</span><p><input class="form-control" type="text" name="option_2" required/></p>
			<span>Answer</span><p><input class="form-control" type="text" name="ans" required/></p>
			<input type="submit" value="submit" />
		</div>
	</form>

	<div>
		<table class="table datatable">
<thead>
    <tr role=r"row">
        <th>Question</th>
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Answer</th>
        <th>Edit/Delete</th>
           </tr>
</thead>
<tbody>	<!-- On rows -->
{% for quest in quest %}
<!-- On cells (`td` or `th`) -->
  <tr>
  <td class="">{{quest.question}}</td>
  <td class="">{{quest.option_1}}</td>
  <td class="">{{quest.option_2}}</td>
  <td class="">{{quest.ans}}</td>
  <td class=""> <a href="#">Delete</a>|<a href="#">Edit</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
	</div>
{% endblock %}