<!DOCTYPE html>
<html>
<head>
	<title>Flask Hello World</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
	<header>
		<div class="navbar navbar-inverse">
			<div class="navbar-bar">
				<a class="brand-inner" href="/">Real (for the web!)</a>
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/log">Login</a><li>
				</ul>
			</div>
		</div>
	</header>
	<div class="container">
	{% block content %}	
	{% endblock %}
	</div>
</body>
</html>